.product-image {
  list-style-type: none;
  width: 290px;
  padding: 20px;
  margin: 6px 6px;
  border: 1px solid #33b5e5;
}

.product-container {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.select-input {
  width: 115px;
  margin-bottom: 8px;
  padding: 4px 8px;
}

.btn-primary {
  min-width: 115px;
  padding: 6px 12px;

  border: 1px solid white;
  border-radius: 6px;
  background-color: #33b5e5;
  color: white;

  &:hover {
    cursor: pointer;
    border: 1px solid blue;
  }
}
